      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@318&display=swap');
header.e-header {
  font-family:'Crimson Text', sans-serif;
  font-size:20px;
  ms-text-select:none;
}
hr {
  border: 1.5px black solid;
}
body {
  font-family:'Noto Sans Display', sans-serif;
}
.main-section {
  border: 1px black solid;
}
.bottom {
  
}
.light-weight {
font-family:'Open Sans', sans-serif;
}
